.createPostContainer {
  border: 1px solid;
  margin: 20px 0 20px 0;
  padding: 0 20px 0 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px 2px gray;
}

@media screen and (min-width: 993px) {
  .createPostContainer {
    margin: 20px -50px 20px -50px;
  }
}

.botton3 {
  float: right;
}

#post {
  margin-right: 20px;
  margin-left: 5px;
}
