.Container {
  margin: 0 auto;
  max-width: 550px;
}

.ProfileDes {
  display: flex;
  margin: 18px 0px;
  border-bottom: 1px solid grey;
  justify-content: space-around;
}

.Image img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

.Data {
  display: flex;
  justify-content: space-between;
  width: 108%;
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Item {
  width: 30%;
  margin-bottom: 10px;
}
